footer{
    text-align: center;
    font-weight: 800;
    font-size: 22px;
    background-color: blue;
    height: 50px;
    line-height: 50px;
    margin-top: 5%;
}

section{
    margin-top: 10%;
    /* float: left; */
    flex-grow: 1;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
  }